@import url( "http://fonts.googleapis.com/css?family=Montserrat:400,700" );

body {
	padding: 0px;
	margin: 0px;
	
	font-family: Montserrat, Arial, sans-serif;
	font-size: 16px;
}
h1 {
	padding: 0px;
	margin: 0px;
}
h1.20-left {
	margin-left: 20px;
}
a {
	font-weight: bold;
	color: #0FA2CC;
}
header h1 {
	float: left;
	
	font-size: 3.0em;
}
header input,header button {
	float: right;
	padding: 0px 10px;
	height: 40px;
	border-width: 0px;
}
input, button {
	font-family: Montserrat, Arial, sans-serif;
	font-size: 1.5em;
}
input:focus, button:focus {
	box-shadow: 0px 0px 10px #D1F2FF;
	outline: none;
	border-width: 0px;
}
button {
	cursor: pointer;
}
header {
	height: 60px;
	line-height: 60px;
	padding: 10px;
	
	background-color: #00B6FF;
	color: #D1F2FF;
	box-shadow: 0px 10px 30px rgba( 0, 0, 0, 0.2 );
}

#container {
	padding: 20px;
	min-height: 100vh;
}
#room-entry {
	margin: 10px 10px;
}

#content-container {
	width: 100%;
	vertical-align: text-top;
}

#video-column {
	width: 848px;
	float: left;
	padding-bottom: 20px;
	margin-right: 20px;
}
#video {
	width: 848px;
	height: 480px;
	
	background-color: #000;
	box-shadow: 0px 10px 30px rgba( 0, 0, 0, 0.2 );
}
#video-url {
	width: 800px;
	height: 30px;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	margin-top: 20px;
	
	background-color: #00B6FF;
	color: #FFF;
}
#video-url-submit {
	width: 48px;
	height: 30px;
	border-width: 0px;
	padding: 0px 10px;
	margin: 0px;
	margin-top: 20px;
	float: right;
	padding: 0px 10px;
}

#side-content {
	min-width: 500px;
}

#users-column {
	width: 200px;
	float: left;
}
#users {
	height: 440px;
	max-height: 440px;
	
	overflow: auto;
	
	padding: 20px;
	margin-right: 20px;
	
	background-color: #EEE;
}
#chat-name {
	width: 180px;
	min-width: 180px;
	height: 20px;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	margin-top: 20px;
	margin-right: 20px;
	
	font-size: 1.0em;
	
	background-color: #00B6FF;
	color: #FFF;
}
#chat-name-submit {
	width: 180px;
	height: 20px;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	margin-right: 20px;
	padding: 0px 10px;
	font-size: 1.0em;
}
#chat-users {
	height: 440px;
	max-height: 440px;
	width: 200px;
	max-width: 200px;
	margin-top: 20px;
	margin-left: 20px;
	
	overflow: auto;
	
	padding: 20px;
	
	background-color: #EEE;
}

#chat-column {
	width: auto;
	min-width: 200px;
	overflow: hidden;
}
#chat {
	height: 440px;
	max-height: 440px;
	width: auto;
	min-width: 200px;
	
	overflow: auto;
	
	padding: 20px;
	
	background-color: #EEE;
}
.noFormat {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	line-height: 20px;
}
#chat-list li {
	margin-bottom: 10px;
}
#chat-entry {
	width: auto;
	min-width: 200px;
	height: 30px;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	margin-right: 20px;
	
	background-color: #00B6FF;
	color: #FFF;
	box-shadow: 0px 10px 30px rgba( 0, 0, 0, 0.2 );
}

.wide {
	box-shadow: 0px -10px 50px rgba( 0, 0, 0, 0.2 );
	width: 100%;
	background-color: #DDD;
	text-align: center;
	font-size: 1.2em;
}
.wide1 {
	background-color: #00B6FF;
	color: #D1F2FF;
}
.wide2 {
	background-color: #D1F2FF;
	color: #00B6FF;
}
.wide h1 {
	padding: 30px;
	padding-bottom: 0px;
	font-size: 2.5em;
}
.wide p {
	padding: 30px;
	margin: 0px;
}